<!-- Template from: http://bootsnipp.com/snippets/featured/blog-post-list-with-photo -->

<div ng-controller="TweetPopupController" class="container" style="width: 600px; margin-left: -25px;">
  <div class="well">
    <div class="media">
      <a class="pull-left" href="https://twitter.com/{{ tweetData['user.screen_name'] }}" target="_blank;">
        <img height="150" width="150" class="media-object" ng-src="{{ tweetData['user.profile_image_url'] }}">
      </a>
      <div class="media-body">
        <ul class="list-inline list-unstyled">
          <li>
            <h4 class="media-heading">{{ tweetData['user.name'] }}</h4>
          </li>
          <li class="pull-right" style="margin-top: -15px;">
            <p class="text-right">{{ tweetData['place.full_name'] }}</p>
          </li>
        </ul>
        <p ng-bind-html="tweetData.text">

        </p>
        <ul class="list-inline list-unstyled">
          <li>
            <span>
              <i class="glyphicon glyphicon-calendar"></i>
              {{ tweetData.created_at | date : 'medium' }}
            </span>
          </li>
        </ul>
      </div>
   </div>
  </div>
</div>