@font-face {
  font-family: 'Titillium Web', sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
}
a {
  color: #168fae;
}
.numberpad {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18pt;
  color: #1cb4db;
}
.numberpad-big {
  font-size: 28pt;
}
.dashboard-panel {
  background-color: #1cb4db;
}
.dashboard-panel .dashboard-top-panel .navbar .navbar-brand {
  margin-right: 16px;
}
.dashboard-panel .dashboard-map-panel {
  width: 70%;
  height: 100%;
  position: relative;
  float: left;
}
.dashboard-panel .dashboard-right-panel {

  display: block;
  /*position: fixed;*/
  position: relative;
  float: right;
  background: #fcfcfc;
  /*width: 450px;*/
  /*width: 30% !important;*/
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 2;

  width: 30%;
  height: 100%;
  position: relative;
  float: right;
  /*border-left: solid 2px #1cb4db;*/
}
.dashboard-header .navbar {
  padding-top: 5px;
}
.dashboard-header .navbar-dashboard {
  background-color: transparent;
  border: none;
}
.dashboard-header .navbar-header .navbar-brand {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px 10px 0 0;
}
.dashboard-header .navbar-header .navbar-brand img {
  margin: 0px 0px 0px 0px;
}
.dashboard-details {
  position: relative;
}
.tab-container {
  margin-top: 20px;
}

.dashboard-right-panel {
  padding-top: 20px;
}
.dashboard-right-panel .nav {
  margin-bottom: 8px;
}
.dashboard-right-panel .hashtag-active {
  border: none;
  background-color: #43c5e7;
  margin-left: -16px;
  margin-right: -16px;
  padding: 10px 16px;
  font-size: 18pt;
  color: whitesmoke;
  text-shadow: 1px 2px #1cb4db;
}
.dashboard-right-panel .hashtag-active .badge {
  background-color: whitesmoke;
  color: #1cb4db;
  text-shadow: none;
}
.dashboard-right-panel .table th {
  color: #666;
}

.dashboard-right-panel .tweets-amounts-plus {
  padding-top: 15px;
}

.dashboard-right-panel .tweets-amounts-plus label {
  font-weight: 600;
  font-size: 12px;
  color: #868686;
  line-height: 20px;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.dashboard-right-panel .tweets-amounts-plus span {
  font-weight: 600;
  font-size: 36px;
  color: #1CB4DB;
  line-height: 1.1em;
  margin: 0px;
  padding: 0px;
}

.dashboard-map {
  width: 100%;
  height: 100%;
  position: relative;
}
.dashboard-map .dashboard-map-container {
  width: 100%;
  height: 100%;
}
.dashboard-map .dashboard-map-container .leaflet-map-pane {
  position: absolute;
  z-index: 3 !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dashboard-map .dashboard-map-container .leaflet-control-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.marker-popup {
  display: block;
  width: auto;
  height: auto;
  position: absolute;
}
.marker-popup .marker-content {
  background: #F5F5F5;
  width: 455px;
  height: 261px;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
}
.marker-popup .marker-content .close {
  margin-right: 14px;
  margin-top: 10px;
}
.marker-popup .marker-content .mc-weet-thumb {
  float: left;
  margin: 20px;
  padding: 0px;
}
.marker-popup .marker-content .mc-tweet-user {
  font-weight: 400;
  font-size: 14px;
  color: #878787;
  line-height: 20px;
  display: block;
  position: relative;
  float: left;
  width: 280px;
  height: auto;
  margin: 20px 0px;
  padding: 0px;
}
.marker-popup .marker-content .mc-tweet-user span,
.marker-popup .marker-content .mc-tweet-user p {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.marker-popup .marker-content .mc-tweet-user a {
  color: #6DBFE3;
  padding: 0px;
  margin: 0px;
}
.marker-popup .marker-content .mc-tweet-user label {
  /*text-transform: uppercase;*/
  font-weight: 400;
  margin-top: 10px;
  width: 100%;
}
.marker-popup .marker-content .mc-tweet-msg {
  background: #FFFFFF;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  color: #868686;
  display: block;
  float: left;
  width: 100%;
  height: 127px;
}
.marker-popup .marker-content .mc-tweet-msg label {
  line-height: 21.33px;
  text-transform: uppercase;
}
.marker-popup .marker-content .mc-tweet-msg p {
  color: #808080;
  line-height: 25.2px;
}
.marker-popup .marker-content .marker-view {
  width: 37px;
  height: 48px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: -32px;
  margin-left: -18.5px;
}

.leaflet-popup-content {
  padding: 0px;
}

.loading {
  color: #1CB4DB;
}