
.dashboard-panel {

  @division: 30%;
  background-color: #1cb4db;

  .dashboard-map-panel {
    width: (100 - @division);
    height: 100%;
    position: relative;
    float: left;
  }

  .dashboard-right-panel {
    width: @division;
    height: 100%;
    position: relative;
    float: right;
  }

}


.dashboard-header {
  .navbar {
    padding-top: 5px;
  }

  .navbar-dashboard {
    background-color: transparent;
    border: none;
  }

  .navbar-header .navbar-brand {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px 10px 0 0;
  }

  .navbar-header .navbar-brand img {
    margin: 0px 0px 0px 0px;
  }
}

.dashboard-details {
  position: relative;
}

