<nav class="navbar navbar-dashboard" ng-init="header.initialize()">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://gogeo.io" target="_blank">
                <img src="shared/images/gogeo-brand-white-icon.png" alt="Brand"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form form-inline search-input-container" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Looking for something?" ng-model="header.somethingTerm"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Where? Country only" ng-model="header.place"/>
                </div>

                <div class="form-group">
                    <daterange data-start-date="header.startDate" data-end-date="header.endDate"></daterange>
                </div>

                <div class="form-group" style="margin-left: 5px; margin-top: 5px;">
                    <div class="nav navbar-nav navbar-right social-media">
                        <div id="tweet-button" class="tweet-button">
                            <a href="javascript:" class="icon-button twitter" ng-click="header.service.createShareLink('twitter')">
                                <i class="fa fa-twitter icon-twitter"></i>
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="nav navbar-nav navbar-right social-media">
                        <div id="facebook-button" class="facebook-button">
                            <a href="javascript:" class="icon-button facebook" ng-click="header.service.createShareLink('facebook')">
                                <i class="fa fa-facebook icon-facebook"></i>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right">
                    <button onclick="window.open('http://gogeo.io', '_blank')" class="btn btn-warning btn-block btn-lg" type="button" data-toggle="modal" data-target="#addMoreTweets">
                        Built with <span style="color: #1CB4DB">goGeo.io</span>
                    </button>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>